* {
  margin: 0;
}
.container {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.container__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  color: #fff;
}

.loading__title {
  text-align: center;
  font-size: 25px;
  margin: 0 0 25px 0;
}

.loading__progress {
  position: relative;
  width: 350px;
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #fff;
}

.progress-animated {
  position: absolute;
  background-color: #fff;
  border-radius: 7px;
  height: 50px;
  transition: all 0.8s;
}
